In [1]:
import pandas as pd
import seaborn
import matplotlib.pyplot as plt
import numpy as np
import warnings
import random
warnings.filterwarnings("ignore")

In [2]:
btc = pd.read_csv('BTC-USD.csv')
eth = pd.read_csv('ETH-USD.csv')
spy = pd.read_csv('SPY.csv')

In [3]:
spy['Date']

0      2023-01-03
1      2023-01-04
2      2023-01-05
3      2023-01-06
4      2023-01-09
          ...
321    2024-04-15
322    2024-04-16
323    2024-04-17
324    2024-04-18
325    2024-04-19
Name: Date, Length: 326, dtype: object

## Data preprocessing

### Convert column name to perspective column name

In [4]:
btc.columns

Index(['Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume'], dtype='object')

In [5]:
btc.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2023-01-01,16547.914063,16630.439453,16521.234375,16625.080078,16625.080078,9244361700
1,2023-01-02,16625.509766,16759.343750,16572.228516,16688.470703,16688.470703,12097775227
2,2023-01-03,16688.847656,16760.447266,16622.371094,16679.857422,16679.857422,13903079207
3,2023-01-04,16680.205078,16964.585938,16667.763672,16863.238281,16863.238281,18421743322
4,2023-01-05,16863.472656,16884.021484,16790.283203,16836.736328,16836.736328,13692758566

In [6]:
#Check for any missing data
print(btc.isna().sum())
print(eth.isna().sum())
print(spy.isna().sum())

Date         0
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64
Date         0
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64
Date         0
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64

In [7]:
for i in btc.columns:
    if i != 'Date':
        btc['btc' +i] = btc[i]
        btc = btc.drop(i, axis = 1)

In [8]:
for i in eth.columns:
    if i != 'Date':
        eth['eth' +i] = eth[i]
        eth = eth.drop(i, axis = 1)

In [9]:
for i in spy.columns:
    if i != 'Date':
        spy['spy' +i] = spy[i]
        spy = spy.drop(i, axis = 1)

In [10]:
eth.columns

Index(['Date', 'ethOpen', 'ethHigh', 'ethLow', 'ethClose', 'ethAdj Close',
       'ethVolume'],
      dtype='object')

In [11]:
spy.columns

Index(['Date', 'spyOpen', 'spyHigh', 'spyLow', 'spyClose', 'spyAdj Close',
       'spyVolume'],
      dtype='object')

In [12]:
btc.head()

,Date,btcOpen,btcHigh,btcLow,btcClose,btcAdj Close,btcVolume
0,2023-01-01,16547.914063,16630.439453,16521.234375,16625.080078,16625.080078,9244361700
1,2023-01-02,16625.509766,16759.343750,16572.228516,16688.470703,16688.470703,12097775227
2,2023-01-03,16688.847656,16760.447266,16622.371094,16679.857422,16679.857422,13903079207
3,2023-01-04,16680.205078,16964.585938,16667.763672,16863.238281,16863.238281,18421743322
4,2023-01-05,16863.472656,16884.021484,16790.283203,16836.736328,16836.736328,13692758566

In [13]:
eth.head()

,Date,ethOpen,ethHigh,ethLow,ethClose,ethAdj Close,ethVolume
0,2023-01-01,1196.713623,1203.475342,1192.885376,1200.964844,1200.964844,2399674550
1,2023-01-02,1201.103271,1219.860596,1195.214966,1214.656616,1214.656616,3765758498
2,2023-01-03,1214.744019,1219.095337,1207.491577,1214.778809,1214.778809,3392972131
3,2023-01-04,1214.718628,1264.807495,1213.168823,1256.526611,1256.526611,6404416893
4,2023-01-05,1256.484619,1258.571533,1245.173096,1250.438599,1250.438599,4001786456

https://realpython.com/pandas-merge-join-and-concat/

In [14]:
### When merged, around 600 or 30% of data got lost
df = pd.merge(btc, eth, on = ["Date"])

In [15]:
df.head()

,Date,btcOpen,btcHigh,btcLow,btcClose,btcAdj Close,btcVolume,ethOpen,ethHigh,ethLow,ethClose,ethAdj Close,ethVolume
0,2023-01-01,16547.914063,16630.439453,16521.234375,16625.080078,16625.080078,9244361700,1196.713623,1203.475342,1192.885376,1200.964844,1200.964844,2399674550
1,2023-01-02,16625.509766,16759.343750,16572.228516,16688.470703,16688.470703,12097775227,1201.103271,1219.860596,1195.214966,1214.656616,1214.656616,3765758498
2,2023-01-03,16688.847656,16760.447266,16622.371094,16679.857422,16679.857422,13903079207,1214.744019,1219.095337,1207.491577,1214.778809,1214.778809,3392972131
3,2023-01-04,16680.205078,16964.585938,16667.763672,16863.238281,16863.238281,18421743322,1214.718628,1264.807495,1213.168823,1256.526611,1256.526611,6404416893
4,2023-01-05,16863.472656,16884.021484,16790.283203,16836.736328,16836.736328,13692758566,1256.484619,1258.571533,1245.173096,1250.438599,1250.438599,4001786456

In [16]:
df = pd.merge(df, spy, on = ['Date'])

In [17]:
df.head()

,Date,btcOpen,btcHigh,btcLow,btcClose,btcAdj Close,btcVolume,ethOpen,ethHigh,ethLow,ethClose,ethAdj Close,ethVolume,spyOpen,spyHigh,spyLow,spyClose,spyAdj Close,spyVolume
0,2023-01-03,16688.847656,16760.447266,16622.371094,16679.857422,16679.857422,13903079207,1214.744019,1219.095337,1207.491577,1214.778809,1214.778809,3392972131,384.369995,386.429993,377.829987,380.820007,373.956818,74850700
1,2023-01-04,16680.205078,16964.585938,16667.763672,16863.238281,16863.238281,18421743322,1214.718628,1264.807495,1213.168823,1256.526611,1256.526611,6404416893,383.179993,385.880005,380.000000,383.760010,376.843842,85934100
2,2023-01-05,16863.472656,16884.021484,16790.283203,16836.736328,16836.736328,13692758566,1256.484619,1258.571533,1245.173096,1250.438599,1250.438599,4001786456,381.720001,381.839996,378.760010,379.380005,372.542755,76970500
3,2023-01-06,16836.472656,16991.994141,16716.421875,16951.968750,16951.968750,14413662913,1250.458984,1273.220337,1240.947510,1269.379028,1269.379028,4977252792,382.609985,389.250000,379.410004,388.079987,381.085938,104189600
4,2023-01-09,17093.992188,17389.957031,17093.992188,17196.554688,17196.554688,18624736866,1287.450806,1342.144165,1286.680786,1321.538940,1321.538940,7990438824,390.369995,393.700012,387.670013,387.859985,380.869934,73978100

In [18]:
btc.shape

(477, 7)

In [19]:
spy.shape

(326, 7)

In [20]:
df.shape

(326, 19)

In [21]:
# Remove all string value for convertion Date to float
dateColumn = df["Date"]
df["Date"] = df["Date"].str.replace("-",'')
df["Date"] = pd.to_numeric(df['Date'], errors='coerce',downcast="integer")

In [22]:
print(df.dtypes)

Date              int32
btcOpen         float64
btcHigh         float64
btcLow          float64
btcClose        float64
btcAdj Close    float64
btcVolume         int64
ethOpen         float64
ethHigh         float64
ethLow          float64
ethClose        float64
ethAdj Close    float64
ethVolume         int64
spyOpen         float64
spyHigh         float64
spyLow          float64
spyClose        float64
spyAdj Close    float64
spyVolume         int64
dtype: object

In [23]:
df.columns

Index(['Date', 'btcOpen', 'btcHigh', 'btcLow', 'btcClose', 'btcAdj Close',
       'btcVolume', 'ethOpen', 'ethHigh', 'ethLow', 'ethClose', 'ethAdj Close',
       'ethVolume', 'spyOpen', 'spyHigh', 'spyLow', 'spyClose', 'spyAdj Close',
       'spyVolume'],
      dtype='object')

In [24]:
df.head(10)

,Date,btcOpen,btcHigh,btcLow,btcClose,btcAdj Close,btcVolume,ethOpen,ethHigh,ethLow,ethClose,ethAdj Close,ethVolume,spyOpen,spyHigh,spyLow,spyClose,spyAdj Close,spyVolume
0,20230103,16688.847656,16760.447266,16622.371094,16679.857422,16679.857422,13903079207,1214.744019,1219.095337,1207.491577,1214.778809,1214.778809,3392972131,384.369995,386.429993,377.829987,380.820007,373.956818,74850700
1,20230104,16680.205078,16964.585938,16667.763672,16863.238281,16863.238281,18421743322,1214.718628,1264.807495,1213.168823,1256.526611,1256.526611,6404416893,383.179993,385.880005,380.000000,383.760010,376.843842,85934100
2,20230105,16863.472656,16884.021484,16790.283203,16836.736328,16836.736328,13692758566,1256.484619,1258.571533,1245.173096,1250.438599,1250.438599,4001786456,381.720001,381.839996,378.760010,379.380005,372.542755,76970500
3,20230106,16836.472656,16991.994141,16716.421875,16951.968750,16951.968750,14413662913,1250.458984,1273.220337,1240.947510,1269.379028,1269.379028,4977252792,382.609985,389.250000,379.410004,388.079987,381.085938,104189600
4,20230109,17093.992188,17389.957031,17093.992188,17196.554688,17196.554688,18624736866,1287.450806,1342.144165,1286.680786,1321.538940,1321.538940,7990438824,390.369995,393.700012,387.670013,387.859985,380.869934,73978100
5,20230110,17192.949219,17484.720703,17162.990234,17446.292969,17446.292969,15808338949,1321.395508,1342.757202,1318.527222,1336.586060,1336.586060,5830173253,387.250000,390.649994,386.269989,390.579987,383.540924,65358100
6,20230111,17446.359375,17934.896484,17337.994141,17934.896484,17934.896484,18372283782,1336.486816,1387.932739,1323.583130,1387.932739,1387.932739,6314904311,392.230011,395.600006,391.380005,395.519989,388.391876,68881100
7,20230112,18117.593750,19030.087891,17995.203125,18869.587891,18869.587891,34971338710,1405.351440,1432.281250,1378.422119,1417.938477,1417.938477,12230193038,396.670013,398.489990,392.420013,396.959991,389.805939,90157700
8,20230113,18868.906250,19964.322266,18753.164063,19909.574219,19909.574219,29225029694,1417.946167,1461.672729,1404.023926,1451.614868,1451.614868,7684148212,393.619995,399.100006,393.339996,398.500000,391.318146,63903900
9,20230117,21175.833984,21438.660156,20978.533203,21161.519531,21161.519531,24999983362,1577.107422,1594.000977,1553.335938,1567.846069,1567.846069,7599462786,398.480011,400.230011,397.059998,397.769989,390.601318,62677300

### Updated Linear Regression from scratch for predicting high

In [25]:
class LinearRegressionRegularization:
    def __init__(self, max_iter=3,  learningRate=90, random_state=None):
        self.max_iter_ = max_iter
        self.alpha = learningRate
        self.random_state_ = random_state
        self.w_ = np.random.randint(0, 1, 17)
        self.w0 = 0
        
    def _split(self, X, y, ratio, random_state):
        header = X.columns
        # remove header for shuffling 
        x_data = X.values

        random.seed(random_state)
        train_ratio = ratio
        test_ratio = 1 - train_ratio
        
        total_data_sample = len(X)
        train_samples = int(total_data_sample * train_ratio)
        test_samples = total_data_sample - train_samples

        random.shuffle(x_data)
        shuffled_data = pd.DataFrame(x_data, columns=header)

        train_data = shuffled_data.head(train_samples)
        test_data = shuffled_data.head(test_samples)
        
        return train_data, test_data
        
    def _predict(self, x_train, y_train):
        #TO-DO : Add Regularization 
        
        x_train_array = x_train.to_numpy()
        m = len(y_train) # number of features 
        #Initial weights 
        tempWeights = [0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0] 
        tempW0 = 0
        y_pred_btc = tempW0
        
        for idx in range (self.max_iter_): 
            for i in range (m):
                summation = []
                xi = x_train_array[i, :]
                y_pred_btc = tempW0
                for k in range (17):
                    y_pred_btc += self.w_[k] * xi[k]
                summation.append(y_pred_btc - y_train)

                derivative = 2/m * sum(summation)
                tempW0 = self.w0 - (self.alpha * derivative)

            for j in range (17):
                for i in range (m): 
                    summation = []
                    xi = x_train_array[i, :]
                    y_pred_btc = tempW0 
                    for k in range (17):
                        y_pred_btc += self.w_[k] * xi[k]  

                    summation.append(y_pred_btc - y_train)
                derivative = 2/m * sum(summation)
                tempWeights.append(self.w_[j] - (self.alpha * derivative))    

            #The previous iteration 
            last_17 = tempWeights[-17:]

            #Assigning new weight values to old weights
            for n in range (17):
                tempWeights[n] = last_17[n]
            self.w0 = tempW0
            #next iteration

        final_weights = tempWeights[:17]
        self.w_ = final_weights
        
        return y_pred_btc

### Utils for updating data sets

In [26]:
class Utils:
    
    def _updateTrainingData(self, x_train):
        for i in x_train.columns:
            if i != 'Date':
                x_train['yesterday_' +i] = x_train[i]
                x_train['twoDaysAgo_' +i] = x_train[i]
                x_train['threeDaysAgo_' +i] = x_train[i]
                x_train['fourDaysAgo_' +i] = x_train[i]
                x_train['fiveDaysAgo_' +i] = x_train[i]
                x_train['sixDaysAgo_' +i] = x_train[i]
                x_train['sevenDaysAgo_' +i] = x_train[i]
                x_train['yesterday_' +i] = x_train['yesterday_' +i].shift(1)
                x_train['twoDaysAgo_' +i] = x_train['twoDaysAgo_' +i].shift(2)
                x_train['threeDaysAgo_' +i] = x_train['threeDaysAgo_' +i].shift(3)
                x_train['fourDaysAgo_' +i] = x_train['fourDaysAgo_' +i].shift(4)
                x_train['fiveDaysAgo_' +i] = x_train['fiveDaysAgo_' +i].shift(5)
                x_train['sixDaysAgo_' +i] = x_train['sixDaysAgo_' +i].shift(6)
                x_train['sevenDaysAgo_' +i] = x_train['sevenDaysAgo_' +i].shift(7)
                x_train = x_train.drop(i, axis = 1)
        return x_train
    
    def _updateDate(self, x_train):
        x_train["Date"]
        x_train['Date'] = x_train['Date'].astype(str)
        
        for k in range (len(x_train["Date"])):
            size = len(x_train["Date"][k])
            string = x_train["Date"][k]
            substring_to_remove = ".0"
            x_train.loc[k]['Date'] = string.replace(substring_to_remove, "")

        for k in range (len(x_train["Date"])):
            size = len(x_train["Date"][k])
            string = x_train["Date"][k]
            x_train.loc[k]['Date'] = string[:4] + "-" + string[4:]
            #print(result)

        for k in range (len(x_train["Date"])):
            size = len(x_train["Date"][k])
            string = x_train["Date"][k]
            x_train.loc[k]['Date'] = string[:7] + "-" + string[7:]
        
        return x_train['Date']
    
    def _replaceNanY(self, y_train):
        column_means_7days =  y_train.tail(7).mean()
        df_filled = y_train_btcHigh.fillna(column_means_7days)
        y_train = df_filled
        
        return y_train
    
    def _replaceNanX(self, x_train):
        column_means = x_train.mean()
        df_filled = x_train.fillna(column_means)
        x_train = df_filled
        
        return x_train
    
    def _newTrainingData(self, new_row, x_train):
        index = len(x_train)
        x_train.loc[index] = new_row
        x_train_temp = x_train
        return x_train_temp

    
    def _newTrainLabel(self, y_train):
        column_means_7days = y_train.tail(7).mean()
        new_row = pd.Series({'btcHigh': column_means_7days})
        y_train_temp = y_train.append(new_row, ignore_index=True)
        return y_train_temp

### Pedictor class to call predictor model

In [27]:
from datetime import datetime, timedelta
from sklearn.linear_model import LinearRegression

class Predictor: 
    
    X_ = []
    def __init__(self, X, y):
        self.X = X
        self.y = y
        self.y_btcHigh_pred = []
        self.x_btcHigh_train = []
        self.y_btcHigh_train = []
        Predictor.X_ = self.X
        
    def getAllPredictionsBTCHigh(self):
        return self.y_btcHigh_pred
    
    def getAllXTrainBTCHigh(self):
        return self.x_btcHigh_train
    
    def getAllYTrainBTCHigh(self):
        return self.y_btcHigh_train
    
    def _predictNextSevenDays(self):
        today = datetime.now().date()
        tomorrow = (today + timedelta(days=1)).strftime('%Y-%m-%d')
        secondDay = (today + timedelta(days=2)).strftime('%Y-%m-%d')
        threeDay = (today + timedelta(days=3)).strftime('%Y-%m-%d')
        fourthDay = (today + timedelta(days=4)).strftime('%Y-%m-%d')
        fifthDay = (today + timedelta(days=5)).strftime('%Y-%m-%d')
        sixthDay = (today + timedelta(days=6)).strftime('%Y-%m-%d')
        seventhDay = (today + timedelta(days=7)).strftime('%Y-%m-%d')
        self._predictWithLinearRegression(tomorrow)
        self._predictWithLinearRegression(secondDay)
        self._predictWithLinearRegression(threeDay)
        self._predictWithLinearRegression(fourthDay)
        self._predictWithLinearRegression(fifthDay)
        self._predictWithLinearRegression(sixthDay)
        self._predictWithLinearRegression(seventhDay)
        
        return Predictor.X_.tail(15), Predictor.X_.tail(15)
    
    
    def _predictWithLinearRegression(self, date=None):
    
        model = LinearRegressionRegularization()
        utils = Utils()
        
        #New training data
        if (date!=None): 
            self.X = utils._newTrainingData({'Date': date}, self.X)
            Predictor.X_ = self.X
            
        # Split the data into training subsets
        train_data, test_data, = model._split(self.X, self.y, ratio=0.7, random_state=123 )
        X_train_btcHigh = train_data.drop(columns=['btcHigh'])
        y_train_btcHigh = train_data['btcHigh']
        #Adjust training data 
        X_train_btcHigh = utils._updateTrainingData(X_train_btcHigh)
        X_train_btcHigh = utils._replaceNanX(X_train_btcHigh)
        has_nan = X_train_btcHigh.isna().any().any()
        #if (has_nan != True):
            #Predict
        #    y_pred_btcHigh = model._predict(X_train_btcHigh, y_train_btcHigh)
        #else:
        #    print ("Training Data contains Nan values, ", has_nan)
        pd.options.mode.chained_assignment = None  #Hide warning
        X_train_btcHigh["Date"] = utils._updateDate(X_train_btcHigh)
    
         # Predict High
        X_train_btcHigh = train_data.drop(columns=['btcHigh'])
        y_train_btcHigh = train_data['btcHigh']
        model = LinearRegression()
        model.fit(X_train_btcHigh, y_train_btcHigh)
        y_pred_btcHigh = model.predict(X_train_btcHigh)
        
        # Predict Low
        X_train_btcLow = train_data.drop(columns=['btcLow'])
        y_train_btcLow = train_data['btcLow']
        model = LinearRegression()
        model.fit(X_train_btcLow, y_train_btcLow)
        y_pred_btcLow = model.predict(X_train_btcLow)
        
        # Predict Low
        X_train_btcOpen = train_data.drop(columns=['btcOpen'])
        y_train_btcOpen = train_data['btcOpen']
        model = LinearRegression()
        model.fit(X_train_btcOpen, y_train_btcOpen)
        y_pred_btcOpen = model.predict(X_train_btcOpen)
        
        # Predict Low
        X_train_btcClose = train_data.drop(columns=['btcClose'])
        y_train_btcClose = train_data['btcClose']
        model = LinearRegression()
        model.fit(X_train_btcClose, y_train_btcClose)
        y_pred_btcClose = model.predict(X_train_btcClose)
    
        y_pred_btcHigh = pd.DataFrame(y_pred_btcHigh)
        y_pred_btcLow = pd.DataFrame(y_pred_btcLow)
        y_pred_btcOpen = pd.DataFrame(y_pred_btcOpen)
        y_pred_btcClose = pd.DataFrame(y_pred_btcClose)
        
        self.y_btcHigh_pred = y_pred_btcHigh 
        self.x_btcHigh_train = X_train_btcHigh 
        self.y_btcHigh_train = y_train_btcHigh 
        
        
        y_pred_btcHigh_ = y_pred_btcHigh.iloc[-1:].iloc[-1:].values.flatten()
        y_pred_btcLow_ = y_pred_btcLow.iloc[-1:].iloc[-1:].values.flatten()
        y_pred_btcOpen_ = y_pred_btcOpen.iloc[-1:].iloc[-1:].values.flatten()
        y_pred_btcClose_ = y_pred_btcClose.iloc[-1:].iloc[-1:].values.flatten()
        
        
        X["Date"] = utils._updateDate(X)
        
        
        return X.tail(15), y_pred_btcHigh_[0], y_pred_btcLow_[0], y_pred_btcOpen_[0],y_pred_btcClose_[0]

###  Predict the BTC high price

In [28]:
X = df
y = df['btcHigh']

#Use the predictor class to run predictions
predictor = Predictor(X,y)
predictor._predictWithLinearRegression()
y_pred_btcHigh = predictor.getAllPredictionsBTCHigh()
X_train_btcHigh = predictor.getAllXTrainBTCHigh()
y_train_btcHigh = predictor.getAllYTrainBTCHigh()

In [29]:
y_train_btcHigh

0      16760.447266
1      16760.447266
2      16964.585938
3      16884.021484
4      16964.585938
           ...
223    31389.539063
224    27989.470703
225    27045.734375
226    25735.308594
227    30045.998047
Name: btcHigh, Length: 228, dtype: float64

In [30]:
X_train_btcHigh.head(10)

,Date,btcOpen,btcLow,btcClose,btcAdj Close,btcVolume,ethOpen,ethHigh,ethLow,ethClose,ethAdj Close,ethVolume,spyOpen,spyHigh,spyLow,spyClose,spyAdj Close,spyVolume
0,20230103.0,16688.847656,16622.371094,16679.857422,16679.857422,1.390308e+10,1214.744019,1219.095337,1207.491577,1214.778809,1214.778809,3.392972e+09,384.369995,386.429993,377.829987,380.820007,373.956818,74850700.0
1,20230103.0,16688.847656,16622.371094,16679.857422,16679.857422,1.390308e+10,1214.744019,1219.095337,1207.491577,1214.778809,1214.778809,3.392972e+09,384.369995,386.429993,377.829987,380.820007,373.956818,74850700.0
2,20230104.0,16680.205078,16667.763672,16863.238281,16863.238281,1.842174e+10,1214.718628,1264.807495,1213.168823,1256.526611,1256.526611,6.404417e+09,383.179993,385.880005,380.000000,383.760010,376.843842,85934100.0
3,20230105.0,16863.472656,16790.283203,16836.736328,16836.736328,1.369276e+10,1256.484619,1258.571533,1245.173096,1250.438599,1250.438599,4.001786e+09,381.720001,381.839996,378.760010,379.380005,372.542755,76970500.0
4,20230104.0,16680.205078,16667.763672,16863.238281,16863.238281,1.842174e+10,1214.718628,1264.807495,1213.168823,1256.526611,1256.526611,6.404417e+09,383.179993,385.880005,380.000000,383.760010,376.843842,85934100.0
5,20230109.0,17093.992188,17093.992188,17196.554688,17196.554688,1.862474e+10,1287.450806,1342.144165,1286.680786,1321.538940,1321.538940,7.990439e+09,390.369995,393.700012,387.670013,387.859985,380.869934,73978100.0
6,20230106.0,16836.472656,16716.421875,16951.968750,16951.968750,1.441366e+10,1250.458984,1273.220337,1240.947510,1269.379028,1269.379028,4.977253e+09,382.609985,389.250000,379.410004,388.079987,381.085938,104189600.0
7,20230103.0,16688.847656,16622.371094,16679.857422,16679.857422,1.390308e+10,1214.744019,1219.095337,1207.491577,1214.778809,1214.778809,3.392972e+09,384.369995,386.429993,377.829987,380.820007,373.956818,74850700.0
8,20230113.0,18868.906250,18753.164063,19909.574219,19909.574219,2.922503e+10,1417.946167,1461.672729,1404.023926,1451.614868,1451.614868,7.684148e+09,393.619995,399.100006,393.339996,398.500000,391.318146,63903900.0
9,20230112.0,18117.593750,17995.203125,18869.587891,18869.587891,3.497134e+10,1405.351440,1432.281250,1378.422119,1417.938477,1417.938477,1.223019e+10,396.670013,398.489990,392.420013,396.959991,389.805939,90157700.0

In [31]:
from sklearn.metrics import r2_score
r2_score(y_train_btcHigh, y_pred_btcHigh)

0.9992739904162168

###  Predict the BTC future high price

In [32]:
from datetime import datetime, timedelta
today = datetime.now().date()

tomorrow = (today + timedelta(days=1)).strftime('%Y-%m-%d')
secondDay = (today + timedelta(days=2)).strftime('%Y-%m-%d')

X = df
y = df['btcHigh']
predictor = Predictor(X,y)

X0, predHigh, predLow, predOpen, predClose  = predictor._predictWithLinearRegression(tomorrow)

In [33]:

last_row_values = predLow.iloc[-1:].values.flatten()
print(last_row_values[0])

AttributeError: 'numpy.float64' object has no attribute 'iloc'

In [37]:
print(X0.dtypes)

Date             object
btcOpen         float64
btcHigh         float64
btcLow          float64
btcClose        float64
btcAdj Close    float64
btcVolume       float64
ethOpen         float64
ethHigh         float64
ethLow          float64
ethClose        float64
ethAdj Close    float64
ethVolume       float64
spyOpen         float64
spyHigh         float64
spyLow          float64
spyClose        float64
spyAdj Close    float64
spyVolume       float64
dtype: object

In [34]:
new_row = {'Date': tomorrow, 'btcHigh':predHigh, 'btcLow':predLow, 'btcOpen':predOpen, 'btcClose':predClose }
X0.drop(X0.index[-1], inplace=True)
index = len(X0)
X0.loc[index] = new_row

In [35]:
X0.fillna(X0.mean(), inplace=True)

In [36]:
X0.tail(15)

,Date,btcOpen,btcHigh,btcLow,btcClose,btcAdj Close,btcVolume,ethOpen,ethHigh,ethLow,ethClose,ethAdj Close,ethVolume,spyOpen,spyHigh,spyLow,spyClose,spyAdj Close,spyVolume
312,20240402,69705.023438,69708.382813,64586.593750,65446.972656,65446.972656,5.070524e+10,3504.818359,3506.962891,3215.985107,3277.234619,3277.234619,2.207654e+10,518.239990,518.979980,516.479980,518.840027,518.840027,7.423030e+07
313,20240403,65446.671875,66914.320313,64559.898438,65980.812500,65980.812500,3.448802e+10,3277.324219,3368.111572,3205.649170,3311.441895,3311.441895,1.601073e+10,517.719971,520.950012,517.669983,519.409973,519.409973,5.915580e+07
314,20240404,65975.695313,69291.257813,65113.796875,68508.843750,68508.843750,3.443953e+10,3311.495361,3443.207520,3253.319336,3330.040527,3330.040527,1.447633e+10,523.520020,523.869995,512.760010,513.070007,513.070007,9.685810e+07
315,20240405,68515.757813,68725.757813,66011.476563,67837.640625,67837.640625,3.374823e+10,3330.005859,3345.666504,3214.244141,3318.885254,3318.885254,1.521445e+10,514.460022,520.440002,514.010010,518.429993,518.429993,7.448210e+07
316,20240408,69362.554688,72715.359375,69064.242188,71631.359375,71631.359375,3.726143e+10,3453.498779,3727.616455,3409.511719,3695.292725,3695.292725,1.905514e+10,519.150024,520.179993,517.890015,518.719971,518.719971,4.840180e+07
317,20240409,71632.500000,71742.507813,68212.921875,69139.015625,69139.015625,3.642690e+10,3695.341797,3724.922363,3455.107666,3505.163330,3505.163330,1.827977e+10,520.500000,520.750000,514.349976,519.320007,519.320007,6.812440e+07
318,20240410,69140.242188,71093.429688,67503.562500,70587.882813,70587.882813,3.831860e+10,3505.156006,3561.516357,3415.180420,3543.737061,3543.737061,1.687248e+10,513.479980,516.159973,512.090027,514.119995,514.119995,8.265280e+07
319,20240411,70575.734375,71256.234375,69571.812500,70060.609375,70060.609375,3.015338e+10,3543.452148,3616.194336,3477.171143,3505.247803,3505.247803,1.407673e+10,515.679993,519.479980,512.080017,518.000000,518.000000,7.009900e+07
320,20240412,70061.382813,71222.742188,65254.835938,67195.867188,67195.867188,4.412930e+10,3505.329834,3552.589111,3103.430176,3243.034912,3243.034912,2.210487e+10,514.369995,515.820007,509.079987,510.850006,510.850006,9.246910e+07
321,20240415,65739.648438,66878.648438,62332.070313,63426.210938,63426.210938,4.359592e+10,3156.830078,3277.561523,3026.538818,3101.600342,3101.600342,2.192584e+10,515.130005,515.299988,503.579987,504.450012,504.450012,9.210140e+07
322,20240416,63419.296875,64355.667969,61716.402344,63811.863281,63811.863281,4.284753e+10,3101.140625,3127.160889,2997.754639,3084.920166,3084.920166,1.944139e+10,504.940002,506.500000,502.209991,503.529999,503.529999,7.348400e+07
323,20240417,63831.847656,64486.363281,59768.585938,61276.691406,61276.691406,4.191525e+10,3084.923584,3123.669678,2918.553711,2984.727539,2984.727539,1.771187e+10,506.049988,506.220001,499.119995,500.549988,500.549988,7.591030e+07
324,20240418,61275.316406,64125.687500,60833.480469,63512.753906,63512.753906,3.600631e+10,2984.705322,3094.842041,2956.127441,3066.027588,3066.027588,1.518378e+10,501.980011,504.130005,498.559998,499.519989,499.519989,7.454810e+07
325,20240419,63510.750000,65481.597656,59651.390625,63843.570313,63843.570313,4.992043e+10,3065.953125,3127.114990,2868.795898,3059.278564,3059.278564,2.039998e+10,499.440002,500.459991,493.859985,495.160004,495.160004,1.021291e+08
14,2024-05-03,29836.620569,30076.449917,29700.674926,29908.744141,66590.006696,3.956829e+10,3322.855364,3399.795445,3179.812099,3287.616595,3287.616595,1.805928e+10,513.190000,514.945709,508.838569,510.997855,510.997855,7.747474e+07

In [ ]:
new_row = {'Date': tomorrow, 'btcHigh':pred.tail(1).to_string(index=False)}
index = len(X0)
X0.loc[index] = new_row

In [ ]:
X0.tail(5)

In [ ]:
# Get the last index
last_index = X0.index[-1]

# Append pred to btcHigh using .loc
X0.loc[last_index, 'btcHigh'] = pred

In [ ]:
# Get the last index
last_index = X0['btcHigh'].index[-1]

# Append pred to btcHigh
X0.loc[last_index, 'btcHigh'] = pred

In [ ]:
X0.tail(1)["btcHigh"] = X0.tail(1)["btcHigh"].append(pred, ignore_index=True)

In [ ]:
X0.tail(10)

In [ ]:
pred

In [ ]:
X1, pred1 = predictor._predictWithLinearRegression(secondDay)

In [ ]:
pred1.shape()

In [ ]:
X1.tail(10)

In [ ]:
X_train_btcHigh_res1.tail(10)

In [ ]:
X1

In [ ]:
#print("Predicted " + str(tomorrow) + ": ", tomorrowPrediction)

In [ ]:
#print("Predicted " + str(secondDay) + ": ", secondDayPrediction)

In [ ]:
y_pred_btcHigh = predictor.getAllPredictionsBTCHigh()
X_train_btcHigh = predictor.getAllXTrainBTCHigh()
y_train_btcHigh = predictor.getAllYTrainBTCHigh()

In [ ]:
import matplotlib.pyplot as plt
plt.scatter(X_train_btcHigh['Date'], y_train_btcHigh, color = 'b')
plt.scatter(X_train_btcHigh['Date'], y_pred_btcHigh, color = 'r')
plt.show

In [ ]:
from sklearn.metrics import r2_score
r2_score(y_train_btcHigh, y_pred_btcHigh)

When merged, around 600 or 30% of data got lost

## Graph - 
Guiller - I'm getting a conversion issue when computing the linear regression, so I converted the date to integer. That's why the graph is messed up. No need to fix the graph below, we will replace those with actual and prediction

In [ ]:
df['DATE'] = pd.to_datetime(df['Date'])

In [ ]:

des = df.describe()
exception = ['Date', 'DATE']
for col in df.columns:
    if col not in exception:
        df[col] = (df[col] - des[col]['min']) / (des[col]['max'] - des[col]['min'])

In [ ]:
df.plot(x = 'DATE', y = 'spyOpen', kind = 'scatter')
df.plot(x = 'DATE', y = 'btcOpen', kind = 'scatter')
df.plot(x = 'DATE', y = 'ethOpen', kind = 'scatter')

In [ ]:
plt.plot(df['DATE'], df['spyOpen'], label = 'Spy Open')
plt.plot(df['DATE'], df['btcOpen'], label = 'Bitcoin Open')
plt.plot(df['DATE'], df['ethOpen'], label = 'Ethererum Open')
plt.show()

Emphasize the need to normalization data, otherwise we cannot compare them

# Normalize data

In [ ]:
plt.plot(df['DATE'], df['spyOpen'], label = 'Spy Open')
plt.plot(df['DATE'], df['btcOpen'], label = 'Bitcoin Open')
plt.plot(df['DATE'], df['ethOpen'], label = 'Ethererum Open')
plt.show()

## Print new prediction

In [ ]:
print(tomorrow)

In [ ]:
tomorrowPrediction

In [ ]:
predictor._predictWithLinearRegression('2024-05-01')

In [ ]:
predictor._predictWithLinearRegression('2024-05-01')

## Save the model with joblib

Tutorial https://machinelearningmastery.com/save-load-machine-learning-models-python-scikit-learn/

In [ ]:
import joblib

In [ ]:
filename = 'model.sav'

In [ ]:
joblib.dump(predictor, filename)